body {
    background-color: #5fc962;
}

img {
    padding: 50px 50px;
    border-radius: 8px;
    border: 5px solid #ddd;
    border-color: red;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

