body {
    background-color: #5fc962;
}
h1 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
    color: #ff0000;
    text-shadow: 0 0 3px #005903;
    
}

button {
    cursor: pointer;
    margin: 0 auto;
    display: block;
    border: none;
    background-color: transparent;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-1deg); }
  20% { transform: rotate(0deg); }
  30% { transform: rotate(1deg); }
  40% { transform: rotate(0deg); }
  50% { transform: rotate(-1deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(1deg); }
  80% { transform: rotate(0deg); }
  90% { transform: rotate(-1deg); }
  100% { transform: rotate(0deg); }
}

#one {
    text-align: center;
    font-size: 28px;
    color: #ff0000;
    text-shadow: 0 0 3px #005903;
}


#two {
    text-align: center;
    font-size: 16px;
    color: #ff0000;
    text-shadow: 0 0 3px #005903;
}
