.rsis-image {
  background-size: auto auto !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-color: white;
}
